/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 10, 2022, 6:19:54 PM
    Author     : Admin
*/
.row {
    margin: 50px;
}
.col-sm-2{
    background-color: darkgray;
    border-radius: 10px;
    padding-bottom: 300px;
    padding-right: 50px;
}


#bar{
    text-align: center;
}

td{
    padding: 10px;
    text-align: center;
    
}

#kieu{
    text-align: center;
}
#table{
    box-sizing: content-box;
    text-align: center;
    border-radius: 10px;
    background-color: whitesmoke;
    padding-top: 70px;
}
option{
    text-align: center;
}
#cashget{
    color: green;
}
#cashpay{
    color: red;
}
#cash{
    width: 50%;  
    height: 5%;
}