div form{
    display: flex;
    text-align: center;
    width: 70%;
    margin-right: none;
    margin-left: 300px;
    margin-top: 100px;
}
div form input{
    padding-right: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}

div form button{
    background-color: orange;
    padding: 20px;
    border: none;
}
div a img{
    height: 200px;
    width: 200px;
}
div a{
    width: 30%;
    margin-top: 50px;
}

#main button{
    margin-left: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
    margin-bottom: 30px;
    margin-top: 120px;

}
.banner img{
    width: 100%;
    height: 400px;
}
.header{
    height: auto;
    display: flex;
}
h1{
    text-align: center;
    color: red;
}
#asus img{
  width: 40%;
  float: left;
}
.sellers{
    width: 50%;
    float:right;
    margin-right: 50px;
    margin-left: 50px;
}
h2{
    color: aqua;
}
.saleoff div img{
    border: 2px solid gray;
    border-radius: 5px;
    height: 300px;
    
}
.saleoff div{
    float: left;
    margin-left: 20px;
    pad
}
.footer{
    margin-top: 500px;
    text-align: center;
    background-color: orange;
}
.saleoff{
    padding-left: 100px;
}
#img1{
    text-align: center;
}
#img1 div{

}
#img2{
    text-align: center;
}
#img3{
    text-align: center;
}
#img4{
    text-align: center;
}
#img1 div{
    text-align: center;
    background-color: orange;
}
#img2 div{
    text-align: center;
    background-color: orange;
}
#img3 div{
    text-align: center;
    background-color: orange;
}
#img4 div{
    text-align: center;
    background-color: orange;
}
.saleoff p{
    color: red;
}
.saleoff del{
    color: black;
}
#mg1{
    border: 2px solid gray;
}

